@model KCIAOGS24.NET.Application.Dtos.Edits.EnergiaSolarEditDto

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Energia Solar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="areaPlaca" class="control-label"></label>
                <input asp-for="areaPlaca" class="form-control" />
                <span asp-validation-for="areaPlaca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="irradiacaoSolar" class="control-label"></label>
                <input asp-for="irradiacaoSolar" class="form-control" />
                <span asp-validation-for="irradiacaoSolar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="energiaEstimadaGerada" class="control-label"></label>
                <input asp-for="energiaEstimadaGerada" class="form-control" />
                <span asp-validation-for="energiaEstimadaGerada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fk_endereco" class="control-label"></label>
                <input asp-for="fk_endereco" class="form-control" />
                <span asp-validation-for="fk_endereco" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
